In [ ]:
#You can create a DataFrame from a Python dictionary using from_dict function.

In [1]:
import pandas as pd

data = {"col_1": [3, 2, 1, 0], "col_2": ["a", "b", "c", "d"]}
pd.DataFrame.from_dict(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [ ]:
## keys to be index instead of the columns

In [2]:
pd.DataFrame.from_dict(data, orient="index")

       0  1  2  3
col_1  3  2  1  0
col_2  a  b  c  d

In [6]:
##We can also specify column names
pd.DataFrame.from_dict(data, orient="index", columns=["A", "B", "C", "D"])

       A  B  C  D
col_1  3  2  1  0
col_2  a  b  c  d

In [7]:
##
clothes = {"shirt": ["red", "M"], "sweater": ["yellow", "L"], "jacket": ["black", "L"]}
pd.DataFrame.from_dict(clothes, orient="index",columns=["colour","size"])

         colour size
shirt       red    M
sweater  yellow    L
jacket    black    L

JSON FILES

In [ ]:
#JSON is short for JavaScript Object Notation. It is another widely used data format to store and transfer the data. It is light-weight and very human readable. In Python, we can use the json library to read JSON files. Here is an example of a JSON string.

In [8]:
info = """{
    "firstName": "Jane",
    "lastName": "Doe",
    "hobby": "running",
    "age": 35
}"""
print(info)

{
    "firstName": "Jane",
    "lastName": "Doe",
    "hobby": "running",
    "age": 35
}

Use json library to load the json string into a Python dictionary:

In [9]:
import json

data = json.loads(info)
data

{'firstName': 'Jane', 'lastName': 'Doe', 'hobby': 'running', 'age': 35}

We can load a json string or file into a dictionary because they are organized in the same way: key-value pairs.

In [10]:
data["firstName"]

'Jane'

A dictionary may not be as convenient as a DataFrame in terms of data manipulation and cleaning. But once we've turned our json string into a dictionary, we can transform it into a DataFrame using the from_dict method

In [15]:
df=pd.DataFrame.from_dict(data,orient="index", columns=["subject1"])
df

          subject1
firstName     Jane
lastName       Doe
hobby      running
age             35

In [ ]:
clothes = """{"shirt": ["red","M"], "sweater": ["yellow","L"]}"""


data = ...
df = ...
df

In [16]:
##converting the clothes json file into a python dictionary
clothes = """{"shirt": ["red","M"], "sweater": ["yellow","L"]}"""
import json

data = json.loads(clothes)
data

{'shirt': ['red', 'M'], 'sweater': ['yellow', 'L']}

In [17]:
##converting the dictionary into a dataframe
df=pd.DataFrame.from_dict(data, orient="index",columns=['colour','size'])
df

         colour size
shirt       red    M
sweater  yellow    L

In [ ]:
##Reading data from compressed files. One way to unzip the data is to use gzip. We can load the poland-bankruptcy-data-2008.json.gz file from the data folder using the following code:

In [ ]:
import gzip
import json

with gzip.open("data/poland-bankruptcy-data-2008.json.gz", "r") as f:
    poland_data_gz = json.load(f)#.load makes it a python dictionary

In [ ]:
#Use the from_dict function from pandas to read the data
df = pd.DataFrame().from_dict(poland_data_gz["data"])

In [ ]:
df.head()  ##gives the first 5 rows

In [ ]:
##Exercise 2
# Load file into dictionary
import gzip
import json

with gzip.open("data/poland-bankruptcy-data-2007.json.gz", "r") as file:
    json_data=json.load(file)

# Transform dictionary into DataFrame
df = pd.DataFrame().from_dict(json_data["data"])
df.head()

Pickle Files

Pickle in Python is primarily used in serializing and deserializing a Python object structure. Serialization is the process of turning an object in memory into a stream of bytes so you can store it on disk or send it over a network. Deserialization is the reverse process: turning a stream of bytes back into an object in memory. Data that can be pickled are none,booleans,tuples,intergers,numbers,none etc

Now that we have more observations, it doesn't make sense to calculate the price per square meter for each house one-by-one. Instead, we can automate this repetitive task using a for loop.

In [ ]:
##calculating the price per meter squared in items in a nested list
for house in houses_nested_list:
    price_per_square_meter=house[0]/house[1]
    print(price_per_square_meter)

In [ ]:
##appending the price per meter squared in items in a nested list
for house in houses_nested_list:
    price_per_square_meter=house[0]/house[1]
    house.append(price_per_square_meter)
print(houses_nested_list)

In [ ]:
###dictionaries
house_0_dict = {
    "price_aprox_usd": 115910.26,
    "surface_covered_in_m2": 128,
    "rooms": 4,
}

house_0_dict

In [ ]:
##adding a value in a dictionary
house_0_dict["price_per_m2"] = house_0_dict["price_aprox_usd"]/house_0_dict["surface_covered_in_m2"]
house_0_dict

In [ ]:
##JSON
##creating a list of dictionaries
houses_rowwise = [
    {
        "price_aprox_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_aprox_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_aprox_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

houses_rowwise

In [ ]:
##calculating price per m2 in a dictionary
for item in houses_rowwise:
    item["price_per_m2"] = item["price_aprox_usd"]/item["surface_covered_in_m2"]
houses_rowwise

In [ ]:
#calculating the mean house price : columnwise operations
house_prices = []
for house in houses_rowwise:
    house_prices.append(house["price_aprox_usd"])

mean_house_price = sum(house_prices) / len(house_prices)
mean_house_price

In [ ]:
#Alternatively use 
#One way to make this sort of calculation easier is to organize our data by features instead of observations. We'll still use dictionaries and lists, but we'll implement them a slightly differently.

In [1]:
houses_columnwise = {
    "price_aprox_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

houses_columnwise

{'price_aprox_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

In [10]:
##calculating the average area per m2
average=houses_columnwise["surface_covered_in_m2"]
average_area_per_m2=sum(average)/len(average)
average_area_per_m2

117.2

In [ ]:
#Create a "price_per_m2" column in houses_columnwise
price=houses_columnwise["price_aprox_usd"]
area=houses_columnwise["surface_covered_in_m2"]
list(zip(price,area))
price_list=[]
for p, a in zip(price,area):
    #print("price: ", p)
    #print("area: ", a)
    price_per_m2=p/a
    price_list.append(price_per_m2)
houses_columnwise["price_per_m2"]=price_list
print(houses_columnwise)

Tabular Data and pandas DataFrames

In [ ]:
import pandas as pd

data = {
    "price_aprox_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

df_houses = pd.DataFrame(data)

df_houses

 Read these three files into three separate DataFrames named df1, df2, and df3, respectively

In [ ]:
df1 =pd.read_csv("data/mexico-real-estate-1.csv")
df2 = pd.read_csv("data/mexico-real-estate-2.csv")
df3 = pd.read_csv("data/mexico-real-estate-3.csv")

In [ ]:
##data inspectation
df1.shape  ##shows number of row and columns
df2.shape
df3.shape

In [ ]:
## checks for missing values
df1.info()

In [ ]:
## displays the first five rows
df1.head()

In [ ]:
##To visualize null values
df1.isnull().sum()

In [ ]:
##removing null values
df1.dropna(inplace=True)## inplace =True makes changes to the existing data
df1

In [ ]:
## removing strings...converting a column from an object to a float
df1["price_usd"].str.replace("$","",regex=False).head() #str allows you to perform string operations

In [ ]:
##removing a comma ,
df1["price_usd"].str.replace("$","",regex=False).str.replace(",","").head()

In [ ]:
###converting from an object to a float
df1["price_usd"].str.replace("$","",regex=False).str.replace(",","").astype(float)

In [ ]:
##transforming price to object
df1["price_usd"]=(df1["price_usd"]
                  .str.replace("$","",regex=False)
                  .str.replace(",","")
                  .astype(float)
                 )

In [ ]:
df1["price_usd"]=(
    df1["price_usd"]
    .str.replace("$","",regex=False)
    .str.replace(",","").astype(float)
)

In [ ]:
##convertion price_mxn to price usd
df2["price_usd"]=(df2["price_mxn"]/19).round(2).head()

In [ ]:
##dropping mxn column
df2.drop(columns=["price_mxn"],inplace=True)

In [ ]:
#dropping null values
df3.dropna(inplace=True)
#splitting a column
df3[["lat","lon"]]=df3["lat-lon"].str.split(",",expand = True).head() #expand puts the items in different lists
df3

In [ ]:
##create state column from column with place with parent names
df3["state"]=df3["place_with_parent_names"].str.split("|",expand=True)[2]
df3.head()

In [ ]:
##droping columns
df3.drop(columns=["lat-lon","place_with_parent_names"],inplace=True)
df3

In [ ]:
##concatinating dataframes #the default axis is vertical axis=0, horizontal = 1
df = pd.concat([df1,df2,df3])
print(df.shape)
df.head()

In [ ]:
#saving the concatenated dat into csv file
df.to_csv("data/mexico-real-estate-clean.csv",index=False) 
#index=false do not create an index column

In [ ]:
import matplotlib.pyplot as plt #for visualization
import pandas as pd #for EDA
import plotly.express as px #for visualizationm

In [ ]:
##generating a scatterplot
fig = px.scatter_mapbox(
    df,  # Our DataFrame
    lat="lat",
    lon="lon",
    center={"lat": 19.43, "lon": -99.13},  # Map will be centered on Mexico City
    width=600,  # Width of map
    height=600,  # Height of map
    hover_data=["price_usd"],  # Display price when hovering mouse over house
)

fig.update_layout(mapbox_style="open-street-map")

fig.show()

In [ ]:
##To get unique states in the state column 
df["state"].unique()

In [ ]:
##To get the number of unique states in the state column 
df["state"].nunique()

In [ ]:
##To get the most common states in the dataset
df["state"].value_counts()

In [ ]:
##To get descriptive statistics for all numerical columns
df.describe()

In [ ]:
##To get descriptive statistics to specific columns
df[["area_m2","price_usd"]].describe()

In [ ]:
##generating a histogram  (;) ignores the meta information
plt.hist(df["area_m2"])
plt.xlabel("Area [sq meters]")
plt.ylabel("Frequency")
plt.title("Distribution of Home Sizes");

In [ ]:
##generating a boxplot
plt.boxplot(df["area_m2"],vert=False)
plt.xlabel("Area[sq meters]")
plt.title("Distribution of Home Sizes");

In [ ]:
#generating a histogram for price_usd
plt.hist(df["price_usd"])
plt.xlabel("Price [USD]")
plt.ylabel("Frequency")
plt.title("Distribution of Home Prices");

In [ ]:
#generating a boxplot for price_usd
plt.boxplot(df["price_usd"],vert=False)
plt.xlabel("Price [USD]")
plt.title("Distribution of Home Prices");

##grouping the data by states
mean_price_by_state = df.groupby("state")["price_usd"].mean().sort_values(ascending=False)
mean_price_by_state

In [ ]:
##creating a bar chart using pandas
mean_price_by_state.plot(
    kind="bar",
    xlabel="State",
    ylabel="Mean Price [USD]",
    title="Mean House Price by State"
);

To create a Series where the index contains each state in the dataset and the values correspond to the mean house price per m2 for that state then draw a bar chart

In [ ]:

(
    df
    .groupby("state")
    ["price_per_m2"].mean()
    .sort_values(ascending=False)
    .plot(
        kind = "bar",
        xlabel="State",
        ylabel="Mean Price per M^2[USD]",
        title="Mean House Price per M^2 by State"
    )
);

In [ ]:
## generating a scatterplot using matplotlib
plt.scatter(x=df["area_m2"], y=df["price_usd"])
plt.xlabel("area_m2")
plt.ylabel("price_usd")
plt.title("Price vs Area");

In [ ]:
##correlation between two columns area and price
p_correlation = df["area_m2"].corr(df["price_usd"])
print(p_correlation)

In [ ]:
##selecting data from only one state
df_morelos = df[df["state"]=="Morelos"]
df_morelos.head()

In [ ]:
##scatterplot
plt.scatter(x=df_morelos["area_m2"],y=df_morelos["price_usd"]);
plt.xlabel("Area[sq meters]")
plt.ylabel("Price[USD]")
plt.title("Morelos: Price vs Area")

In [ ]:
#correlation
p_correlation = df_morelos["price_usd"].corr(df_morelos["area_m2"])
print(p_correlation)

In [ ]:
# Subset `df` to include only observations from `"Distrito Federal"`
df_mexico_city = df[df["state"]=="Distrito Federal"]


# Create a scatter plot price vs area
plt.scatter(x=df_mexico_city["area_m2"],y=df_mexico_city["price_usd"])
plt.xlabel("Area[sq meters]")
plt.ylabel("Price[USD]")
plt.title("Mexico City: Price vs. Area");

p_correlation = df_mexico_city["price_usd"].corr(df_mexico_city["area_m2"])
print(p_correlation)